<section id="works">
  <div class="container-fluid py-5">
    <div class="text-dark text-center h3">Works</div>
    <div class="row justify-content-center pt-2">
      {{ range ( where .Site.RegularPages "Type" "works" ) }}
      <div class="col-md-8 pro m-3 shadow" data-aos="fade-up" data-aos-duration="1500" data-aos-once="true">
        <div class="row">
          <div class="col-md-6 bg-pro">
            <img src="{{ .Params.img }}" alt="{{ .Title }}" />
          </div>
          <div class="col-md-6 content-pro p-3 bg-light">
            <div class="content-pro-top">
              <h2>{{ .Title }}</h2>
              <p class="card-text pt-2">{{ .Params.description }}</p>
            </div>
            <span class="float-right">
              {{ if .Params.featured }}
              <a href="{{ .Params.featured }}" class="px-1">
                <i class="fas text-info fa-link"></i>
              </a>
              {{ end }} {{ if .Params.github }}
              <a href="{{ .Params.github }}" class="px-1 pr-2">
                <i class="fab text-dark fa-lg fa-github pro-github"></i>
              </a>
              {{ end }}
              <a class="btn btn-sm pro-btn btn-outline-info" target="_blank" href="{{ .Permalink }}">
                Know more...
              </a>
            </span>
          </div>
        </div>
      </div>
      {{ end }} {{ range .Site.Params.works }}
      <div class="col-md-8 pro m-3 shadow" data-aos="fade-up" data-aos-duration="1500" data-aos-once="true">
        <div class="row">
          <div class="col-md-6 bg-pro">
            <img src="{{ .img }}" alt="{{ .name }}" />
          </div>
          <div class="col-md-6 content-pro p-3 bg-light">
            <div class="content-pro-top">
              <h2>{{ .name }}</h2>
              <p class="card-text pt-2">{{ .description }}</p>
            </div>
            <span class="float-right">
              {{ if .featuredlink }}
              <a href="{{ .featuredlink }}" class="px-1">
                <i class="fas text-info fa-link"></i>
              </a>
              {{ end }} {{ if .githublink }}
              <a href="{{ .githublink }}" class="px-1 pr-2">
                <i class="fab text-dark fa-lg fa-github pro-github"></i>
              </a>
              {{ end }}
            </span>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>