<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="twitter:card" content="summary">
  <meta property="og:title" content="KENTO-Portfolio">
  <meta property="og:description" content="{{ .Site.Params.description }}">
  <meta property="og:image" content="https://forjobok.github.io/KENTO-Portfolio/images/maro.png">
</head>

<head>

  {{- partial "sections/v3/head.html" . -}}
  <link rel="stylesheet" href="/css/v3/navbar-footer.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300&display=swap"
    rel="stylesheet">
  <script src="/js/popper.min.js"></script>

  {{- block "head" . -}}{{- end }}

</head>

<body class="text-dark">
  {{- partial "sections/v3/scripts.html" . -}}
  {{- block "main" . -}}{{- end }}
</body>

<body></body>

</html>