<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="twitter:card" content="summary">
  <meta property="og:title" content="KENTO-Portfolio">
  <meta property="og:description" content="{{ .Site.Params.description }}">
  <meta property="og:image" content="https://forjobok.github.io/KENTO-Portfolio/images/maro.png">
</head>

<head>
  <title>{{- .Site.Title -}}</title>
  <meta name="description" content="{{ .Site.Params.description }}">

  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
  {{- partial "sections/v3/head.html" . -}}
  <link rel="stylesheet" href="/css/v3/v3.css" media="all">
  <link rel="stylesheet" href="/css/v3/loader.css" />

  <!-- aos -->
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
</head>

<body class="text-dark">
  <!--<div id="loader" class="center"></div>-->
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>
  <div>
    {{ if .Site.Params.disable_home }}
    {{ else }}
    {{- partial "sections/v3/home.html" . -}}
    {{ end }}

    {{ if .Site.Params.disable_about }}
    {{ else }}
    {{- partial "sections/v3/about.html" . -}}
    {{ end }}

    {{ if .Site.Params.disable_experience }}
    {{ else }}
    {{- partial "sections/v3/experience.html" . -}}
    {{ end }}

    {{ if .Site.Params.disable_works }}
    {{ else }}
    {{- partial "sections/v3/works.html" . -}}
    {{ end }}

    {{- partial "sections/v3/scripts.html" . -}}

  </div>
</body>
</html>
